body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

.sec1 {
    background: url(iphones/iphone1.jpg) fixed center;
}

.sec2 {
    background: url(iphones/iphone2.jpg) fixed center;
}

.sec3 {
    background: url(iphones/iphone3.jpg) fixed center;
}

.sec4 {
    background: url(iphones/iphone4.jpg) fixed center;
}

.sec5 {
    background: url(iphones/iphone5.jpg) fixed center;
}